
ul {
    display: flex;
    
    padding-left: 80%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color:black;
    border-bottom: 1px solid aquamarine;
   
}
ul li{
    display: flex;
    justify-content: space-between;
}